<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout">
<head>
    <title th:fragment="head_title">用户菜单-编辑</title>
</head>
<body>
<div class="layui-form" th:fragment="body_content">
    <form id="editForm" style="margin: 20px;">
        <input type="hidden" name="id" id="hiddenId"/>
        <div class="layui-form-item">
            <label class="layui-form-label" for="inputMenuLevel">菜单层级</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="menuLevel" id="inputMenuLevel" disabled/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="selectParentId">父级菜单</label>
            <div class="layui-input-block">
                <select name="parentId" id="selectParentId" lay-search>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="inputMenuUrl">菜单链接</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="menuUrl" id="inputMenuUrl"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="inputMenuName">菜单名称</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="menuName" id="inputMenuName"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="inputValid">是否有效</label>
            <div class="layui-input-block">
                <input type="checkbox" name="valid" id="inputValid" lay-skin="switch" lay-text="有效|无效">
            </div>
        </div>
    </form>
    <div class="layui-form-item" style="text-align: center;">
        <button class="layui-btn" id="btnSave">保存</button>
    </div>
</div>
<th:block th:fragment="body_script">
    <script src="/scripts/userMenu/edit.js"></script>
</th:block>
</body>
</html>