<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <script src="scripts/header-reference.js"></script>
    <title>base Index</title>
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">Base Project</div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:">
                        <i class="layui-icon layui-icon-username"></i>
                        <label id="labelUserName"></label>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="Logout">退出登录</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test" lay-shrink="all">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:">系统菜单</a>
                        <dl id="dlUserMenu" class="layui-nav-child">
                            <dd>
                                <a href="javascript:" class="site-demo-active" data-id="101" data-title="用户菜单" data-type="tabAdd" data-url="/UserMenu/Index">用户菜单</a>
                            </dd>
                        </dl>
                    </li>

                </ul>
            </div>
        </div>
        <div class="layui-body layui-bg-gray">
            <!-- 内容主体区域 -->
            <!--tab标签-->
            <div class="layui-tab" lay-filter="tabList" lay-allowclose="true" style="background-color: white">
                <ul class="layui-tab-title"></ul>
                <div class="layui-tab-content layui-bg-gray" style="width: auto; height: auto"></div>
            </div>
        </div>
    </div>
    <script src="scripts/index.js"></script>
</body>

</html>