<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="Head(title)">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="/scripts/layui/layui.js" ></script>
    <script type="text/javascript" src="/scripts/jquery-3.5.1.min.js" ></script>
    <script type="text/javascript" src="/scripts/common.js" ></script>
    <link rel="stylesheet" href="/scripts/layui/css/layui.css" />
    <title th:text="${title}"></title>
</head>
<body>

</body>
</html>